---
layout: menu-page
title: About
permalink: about:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <a href='{{ site.website }}'><img src="{{ relativebase }}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <h3>{{site.author}}</h3>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.twitter %}
        <li class="twitter"><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a class="linkedin" href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.googlescholar %}
        <li class="googlescholar"><a class="googlescholar" href="https://scholar.google.com/citations?user={{site.googlescholar}}" target="_blank"><i class="fa fa-google"></i></a></li>
      {% endif %}
      {% if site.github %}
        <li class="github"><a class="github" href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.email %}
        <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.bandcamp %}
        <li class="bandcamp"><a class="bandcamp" href="https://{{site.bandcamp}}.bandcamp.com" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.stackoverflow %}
      <li class="stackoverflow"><a class="stackoverflow" href="https://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
    <section class="about-body">
      <style type="text/css">
        .a { display: inline-block; width: 100px; font-size: 14px; }
        .b { display: inline-block; font-size: 14px; }
    </style>
      <h2 class="">Academic training</h2>
      <p><span class="a">2022-</span> <span class="b">Post-Doctoral Associate, Biostatistic Department, Yale University, United States</span> <br/>
        <span class="a">2016-2022</span> <span class="b">Ph.D., Department of Botany, University of Wisconsin-Madison, United States</span> <br/>
        <span class="a">2011-2015</span> <span class="b">B.S., Department of Plant Pathology and Microbiology, National Taiwan University, Taiwan</span> 
      </p>
      <h2 class="">Grants and Fellowship</h2>
      <p><span class="a">2023</span> <span class="b">Standard Grant, National Science Foundation</span> <br/>
        <span class="a">2021</span> <span class="b">Tulipa et Paeonia Fellowship, University of Wisconsin-Madison</span> <br/>
        <span class="a">2020</span> <span class="b">MSA Graduate Fellowship , Mycological Society of America</span> <br/>
        <span class="a">2020</span> <span class="b">E.K. and O.N. Allen Fellowship, University of Wisconsin-Madison</span> <br/>
        <span class="a">2019</span> <span class="b">Student Research Grants Competition, University of Wisconsin-Madison</span> <br/>
      </p>
      <h2 class="">Awards and Honors</h2>
      <p><span class="a">2023</span> <span class="b">Travel Award, Society for Molecular Biology and Evolution</span> <br/>
        <span class="a">2020</span> <span class="b">Taylor-Vinje Research Award, University of Wisconsin-Madison</span> <br/>
        <span class="a">2018</span> <span class="b">Mentor Student Travel Award, Mycological Society of America</span> <br/>
        <span class="a">2017</span> <span class="b">Raper Conference Travel Award, University of Wisconsin-Madison</span> <br/>
        <span class="a">2016</span> <span class="b">Award of Academic Research Thesis in Bachelor , National Taiwan University</span> 
      </p>
      <h2 class="">Teaching and Services</h2>
      <p><span class="a">2023</span> <span class="b">Guest Teacher, Celentano Biotech, Health and Medical Magnet School</span> <br/>
        <span class="a">2022</span> <span class="b">Course designer and instructor, NSF invasion workshop at Pretoria, South Africa</span> <br/>
        <span class="a">2019-2022</span> <span class="b">Undergraduate mentor, University of Wisconsin-Madison</span> <br/>
        <span class="a">2017-2022</span> <span class="b">Teaching Assistant, University of Wisconsin-Madison (four semesters) </span> <br/>
        <span class="a">2015-2016</span> <span class="b">Assistant, Citrus Huanlongbing Project, ICDF, Taiwan Ministry of Foreign Affairs</span> <br/>
        <span class="a">2014-2015</span> <span class="b">Biology Club Advisor, Taipei Municipal Datong High School</span> <br/>
        <span class="a">2013-2015</span> <span class="b">Assistant Editor, Mycobiota Taiwanica 3rd edition, National Taiwan University</span> <br/>
      </p>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
