---
layout: menu-page
title: Publications
permalink: publications:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <h2 class="subtitle">Publications</h2>
    </section>
    <section class="about-body" style="font-size: 14px"; >
      <p><b>Wang, Y.-W.</b>, Elmore, H. and Pringle, A. 2023. <a href="https://www.mdpi.com/2309-608X/9/4/476" target="_blank">Uniparental inheritance and recombination as strategies to avoid competition and combat Muller’s ratchet among mitochondria in natural populations of the fungus <i>Amanita phalloides</i></a>. Journal of Fungi, 9(4): 476.</p>
      <p><b>Wang, Y.-W.</b> and Ané, C. 2022. <a href="https://academic.oup.com/bioinformatics/article/38/11/3044/6575430" target="_blank">KIMGENS: A novel method to estimate kinship in organisms with mixed haploid diploid genetic systems robust to population structure</a>. Bioinformatics, 38(11): 3044–3050.</p>
      <p>Iapichino, M., <b>Wang, Y.-W.</b>, Gentry S., Pringle, A. and Seminara, A. 2021. <a href="https://www.tandfonline.com/doi/full/10.1080/00275514.2020.1823175" target="_blank">A precise relationship among Buller’s drop, ballistospore and gill morphologies enables maximum packing of spores within gilled mushrooms</a>. Mycologia, 113(2): 300–311.</p>
      <p><b>Wang, Y.-W.</b>, Slot, J., Hess, J. and Pringle, A. 2020. <a href="https://www.nature.com/articles/s41598-020-70878-2" target="_blank">De novo gene birth, horizontal gene transfer and gene duplication as sources of new gene families associated with the origin of a symbiosis in the fungal genus <i>Amanita</i></a>. Genome Biology and Evolution, 12(11): 2168–2182.</p>
      <p>Chung P.-C., Wu H.-Y., <b>Wang, Y.-W.</b>, Ariyawansa, H.A., Hu, H.-P., Hung, T.-H., Tzean, S.-S. and Chung, C.-L. 2020. <a href="https://www.nature.com/articles/s41598-020-70878-2" target="_blank">Diversity and pathogenicity of <i>Colletotrichum</i> species causing strawberry anthracnose in Taiwan and  description of a new species, <i>Colletotrichum miaoliense</i> sp. nov.</a> Scientific Reports, 10(1): 1–16.</p>
      <p>Hoeksema, J.D., Bever, J.D., Chakraborty, S., Chaudhary, V.B., Gardes, M., Gehring, C.A., Hart, M.M., Housworth, E.A., Kaonongbua, W., Klironomos, J.N., Lajeunesse, M.J., Meadow, J., Milligan, B.G., Piculell, B.J., Pringle, A., Rúa, M.A., Umbanhowar, J., Viechtbauer, W., <b>Wang, Y.-W.</b>, Wilson G.W.T. and Zee, P.C. 2018. <a href="https://www.nature.com/articles/s42003-018-0120-9" target="_blank">Evolutionary history of plant hosts and fungal symbionts predicts the strength of mycorrhizal mutualism</a>. Communications Biology, 1(1):116.</p>
      <p><b>Wang, Y.-W.</b> and Tzean, S.-S. 2015. <a href="https://taiwania.ntu.edu.tw/abstract.php?type=abstract&id=1421" target="_blank">Dung-associated, potential hallucinogenic mushrooms from Taiwan</a>. Taiwania 60(4): 160–168.</p>
      <p><b>Wang, Y.-W.</b>, Hong, T.-W., Tai, Y.-L., Wang Y.-J., Tsai, S.-H., Lien, P. T. K., Chou, T.-H., Lai, J.-Y., Chu, R., Chen, B.-J., Ding, S.-T., Irie, K., Li, T.-K., Tzean, S.-S. and Shen, T.-L. 2015. <a href="https://www.hindawi.com/journals/ecam/2015/189891/" target="_blank"></a>Evaluation of an epitypified <i>Ophiocordyceps formosana</i> (<i>Cordyceps</i> s. l.) for its pharmacological potential. Evidence-Based Complementary and Alternative Medicine, 2015: Article ID 189891.</p>
      <p>Tzean, S.-S., Hsieh, W.-H., Chang, T.-T., Wu, S.-H., Ho, H.-M., Chen..., and <b>Wang, Y.-W.</b> 2015. Mycobiota Taiwanica 3rd edition. National Taiwan University, Taiwan.</p>

    </section> <!-- End About Body-->
    
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
