---
layout: menu-page
title: Publications
permalink: resources:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <h2 class="subtitle">Resources</h2>
    </section>
    <section class="about-body" >
      <h2 class="subtitle">Mycology</h2>
      <h3 class="subtitle">Taxonomy and Systematics</h3>
      <p style="font-size: 14px"; ><a href="https://www.mycobank.org/" target="_blank">Mycobank</a></p>
      <p style="font-size: 14px"; ><a href="http://www.indexfungorum.org/" target="_blank">Index Fungorum</a></p>
      <p style="font-size: 14px"; ><a href="http://www.mushroomexpert.com/index.html" target="_blank">Mushroom Expert</a></p>
      <h3 class="subtitle">Monographs</h3>
      <p style="font-size: 14px"; ><a href="http://www.amanitaceae.org/?Home" target="_blank">Amanita and allies</p>
      <p style="font-size: 14px"; ><a href="http://cordyceps.us/" target="_blank">Cordyceps and allies</a></p>
      <h3 class="subtitle">Ecology</h3>
      <p style="font-size: 14px"; ><a href="http://www.funguild.org/" target="_blank">FunGuild</a></p>
      <h3 class="subtitle">Other</h3>
      <p style="font-size: 14px"; ><a href="https://pringlelab.botany.wisc.edu/" target="_blank">Pringle Lab</a></p><br/>
      <h2 class="subtitle">Bioinformatics and Evolution</h2>
      <h3 class="subtitle">General</h3>
      <p style="font-size: 14px"; ><a href="https://rnnh.github.io/bioinfo-notebook/" target="_blank">Ronan's bioinformatics notebook</a></p>
      <p style="font-size: 14px"; ><a href="https://chat.openai.com/chat" target="_blank">OpenAI chatbot</a></p>
      <h3 class="subtitle">Workshops</h3>
      <p style="font-size: 14px"; ><a href="http://evomics.org/" target="_blank">Evolution and Genomics at Cesky Krumlov</a></p>
      <p style="font-size: 14px"; ><a href="https://molevolworkshop.github.io/" target="_blank">Molecular Evolution at Woods Hole</a></p>
      <p style="font-size: 14px"; ><a href="https://yenwenwang.github.io/NSFInvasion2022" target="_blank">2022 NSF Invasion Workshop</a></p>
      <h3 class="subtitle">Genome annotation tools</h3>
      <p style="font-size: 14px"; ><a href="http://bioinf.uni-greifswald.de/augustus/" target="_blank">AUGUSTUS</a></p>
      <p style="font-size: 14px"; ><a href="https://www.gensas.org/" target="_blank">GenSAS</a></p>
      <h3 class="subtitle">Phylogenetic analyses</h3>
      <p style="font-size: 14px"; ><a href="http://iqtree.org/" target="_blank">IQ-TREE</a></p>
      <p style="font-size: 14px"; ><a href="http://hyphy.org/" target="_blank">Phylogenetic analyses</a></p>
      <h3 class="subtitle">Population genetics</h3>
      <p style="font-size: 14px"; ><a href="http://grunwaldlab.github.io/Population_Genetics_in_R/" target="_blank">Poppr</a></p><br/>
      <h2 class="subtitle">Scientific careers</h2>
      <p style="font-size: 14px"; ><a href="https://www.esa.org/earlycareer/resources-2/" target="_blank">Early career (ecology)</a></p>
      <p style="font-size: 14px"; ><a href="https://halllab2.sitehost.iu.edu/grad-student-resources.html" target="_blank">Spensor Hall's resources</a></p><br/>
    </section> <!-- End About Body-->
    
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->

